
.pricing {
    margin: auto;
    text-align: center;
    
  
}
#pricing {
    background-color: #F8F6F6;
}
.pricing .btn {
    border: 1px solid #222847;
    border-radius: 27px;
    width: 75%;
    height: 12%;
    background-color: #F8F6F6;
    font-family: 'Poppins';
    font-size: 18px;
}

.card {
    border-radius: 20px;
    box-shadow: 0px 2px 7px rgba(34, 31, 31, 0.24);
    background-color: #000000;
    border: 2px solid #202646;
    background-color: #F8F6F6;
    transition: all .2s ease-in-out;
    min-width: 250px;
    max-width: 350px;
}

.card-body {
    padding: 1.8rem;
}
.card:hover {
    border-radius: 0%;
    background-color: #202646;
    color: white;
    transform: scale(1.1);
}

.card:hover .card-pp {
    color: white;
}

.card:hover .list-unstyled {
    color: white;
}
.card:hover .btn {
    color: #3dc99a;
}

.display-4 {
    font-size: 36px;
    line-height: 36px;
    color: #5d5d5d;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.list-unstyled {
    font-size: 14px;
    line-height: 36px;
    color: #5d5d5d;
    font-family: "Poppins";
    font-weight: 400;
}

.card-p {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
}

.card-pp {
    font-family: 'Poppins';
    font-size: 18px;
    color: #5D5D5D;
    font-weight: bold;
}
