
.mobilni-telefon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 60px 40px rgba(180, 180, 180, .3);
    background-color: #fff;
    max-width: 100%;
    height: auto;
}







