#pricing {
    background-color: #F8F6F6;
}
.price-btn {
    border: 1px solid #222847;
    border-radius: 27px;
    background-color: #F8F6F6;
    font-family: 'Poppins';
    font-size: 1.1rem;
}

.kartica {
    border-radius: 20px;
    box-shadow: 0px 2px 7px rgba(34, 31, 31, 0.24);
    border: 2px solid #202646;
    background-color: #F8F6F6;
    transition: all .2s ease-in-out;
}

.kartica:hover {
    border-radius: 0%;
    background-color: #202646;
    color: white;
    transform: scale(1.1);
}

.kartica:hover .card-pp, .kartica:hover .card-p  {
    color: white;
}

.kartica:hover .list-unstyled {
    color: white;
}
.kartica:hover .btn {
    color: #3dc99a;
}

.display-4 {
    font-size: 36px;
    line-height: 36px;
    color: #5d5d5d;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.list-unstyled {
    font-size: 14px;
    line-height: 36px;
    color: #5d5d5d;
    font-family: "Poppins";
    font-weight: 400;
}

.card-p {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
}

.card-pp {
    font-family: 'Poppins';
    font-size: 18px;
    color: #5D5D5D;
    font-weight: bold;
}
