
.clients {
    background-image: url('static/Rectangle\ 3.png');
}
.card {
    background-color: transparent;
    border: none;
}

.card-body {
    border: 1px solid white;
    padding-top: 10%;
}

.avatar {
    top: -17%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f7f7f7;
}

.carousel-indicators {
    position: relative;
}

.talk {
    font-size: 0.9375rem;
    line-height: 1.625rem;
}
@media (max-width: 575.98px) {
    .avatar {
        top: -10%;
    }
}

@media (max-width: 320px) {
    .avatar {
        top: -5%;
    }
}
