
.container-2{
    color: gray;
}
.rectangle {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    background-color: whitesmoke;
    transform: rotate(45deg);
}

.rectangle:hover {
    background-color: #29E4B7;
    transition: .7s;
}

.normal {
    transform: rotate(-45deg)
}

.app-box {
    align-content: center;
    min-width: 350px;
}