.ceo {
    border: 10px solid pink;
}

footer {
    background-color: #13253B;
    color:#FFF;
    height: 200px;
}

.fifth {
background-color: #F7F7F7;
color: #3B3B3B;
}

button {
    background-color: #1FE7B6;
    border: none;
    color: #FFF;
    font-family: poppinsMedium;
    font-size: 16px;
}

.location{
    background-color: white;
    color: #3B3B3B;
}

.sayHelloText h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.42rem;
    line-height: 2.9rem;
    color: #3b3b3b;
    font-weight: 600;  
}

.sayHelloText h2::after {
    content: '';
    border-bottom: 0.25rem solid #13253B;
    display: block;
    width: 55px;
    margin: 0 auto;
}

iframe {
    overflow: hidden;
}

.poppinsLights{
    font-size: 0.91rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.57rem;
    color: #3b3b3b;
}

.my-padding{
    padding-right: 0;
    padding-left: 0;
}

.my-row{
    margin-left: 0;
    margin-right: 0;
}