*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202646;
    
    
    
}

.table-container{
    
    background-color: white;
    height: 100vh;
    
    
}

.btn-user {
    background: white;
    color: #29e4b7;
    border-radius: 25px;

}

.btn-small {
    background-color: rgb(241, 241, 241);
}


.modal{
    height: 100vh;
    top: 20%;
}
