@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: url('font/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('font/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('font/Poppins-SemiBold.ttf') format('truetype');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 1920px;
    border: 1px solid #202646;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 1.25rem;
    line-height: 2.25rem;
}
img {
    max-width: 100%;
    height: auto;
}
#header { 
    color: white;
    width: 100%;
    height: 100%;
    background-image: url(static/headerBack.png);
    background-repeat: no-repeat;
    background-position: 30% 100%; 
}
#header h1 {
    font-size: 2.875rem;
    line-height: 3.875rem;
    font-weight: 600;
    margin-top: 15%;
}
#header a.btn {    
    border-radius: 40px;
    color: #202646;
    font-size: 13.35px;
    line-height: 34.34px;
}
#header a.btn strong {
    font-size: 19.08px;
}
.nav-link:hover {
    text-shadow: -.25px -.25px 0 white, .25px .25px white;
}
.navbar button {
    border-radius: 38px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625rem;
    color: #202646;
}
.navbar button a:first-child {
color: #1ce2b2;
}
.navbar button a:last-child {
    color: #202646;
    }
nav + .row {
    margin-top: 5%;
}
.container {
    margin-top: 10%;
}
.container:first-child {
    margin-top: 0;
}
h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: 500;
}
.clients h2 {
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 600;
}
h4 {
    line-height: 2.25rem;
    color: #5d5d5d;
}
h4 + p {
    line-height: 1.875rem;
    font-size: 1rem;
}
h5 {
    line-height: 2.25rem;
}
h6 {
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: 600;

}
p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-top: 2%;
    margin-bottom: 3%;
}
h5 + p {
    font-size: 1rem;
    line-height: 1.875rem;
}
h6 + p {
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-family: 'Poppins', sans-serif;
}
.s-features {
    padding-bottom: 15%;
}

@media screen and (max-width:992px) {
    #header h1 {
        margin-top: 0%;
    }
    .s-features {
        padding-bottom: 22%;
    }
    .s-features img {
        width: 80%;
    }
}
@media screen and (max-width:768px) {
    :root {
        font-size: 13px;
    }
    .s-features {
        padding-bottom: 5%;
    }
    .s-features img {
        width: 60%;
    }
    .s-features h5, .s-features h5 + p {
        color: #202646;
    }
    .slika-poz {
        border: 1px solid #202646;
    }
}   
@media screen and (max-width:576px) {
    .slika-poz {
        width: 50px;
        height: 50px;
    }
    .screenshots .carousel-inner img {
        width: 60%;
    }
}
